<script src="/components/jquery/dist/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="/components/materialize/dist/js/materialize.min.js"></script>
<script src="/components/moment/moment.js"></script>
<script src="/components/vue/dist/vue.min.js"></script>
<script src="/components/clipboard/dist/clipboard.min.js"></script>
<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    },
    i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-76818111-5', 'auto');
  ga('send', 'pageview');
</script>
<script src="/js/index.js"></script>

</body>
</html>
