<% include header %>

<div class="container" id="app" v-cloak>
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col s12">
      <h1 class="red-text center-align">
        <a href="" class="red-text">19금 모음</a>
      </h1>

      <div id="share" class="center-align">
        <div class="share-img-group">
          <img class="cursor" src="/img/kakaolink_btn_medium.png" @click="btnKakao" />
          <img class="cursor" src="/img/FB-f-Logo__blue_72.png" @click="btnFacebook" />
          <i class="material-icons green white-text cursor" @click="btnClipboard">link</i>
          <button v-show="false" id="clipboard" data-clipboard-text="http://19.circledragon.co.kr/"></button>
        </div>
        <p>
          이 사이트를 좋아할 것 같은 친구들에게 공유하세요!
        </p>
      </div>

      <a class="waves-effect waves-light btn btn-100 black" @click="btnPrevious">이전 19금</a>

      <div class="card-list">
        <div v-cloak v-for="date in dates" class="card hoverable" @click="gotoDate(date)" v-bind:class="{'black': date.active, 'white-text': date.active}">
          <div class="card-content">
            <span class="new badge red" v-bind:data-badge-caption="date.dday"></span>
            {{ date.formated }}
          </div>
        </div>
      </div>

      <a class="waves-effect waves-light btn btn-100 black" @click="btnNext">다음 19금</a>
    </div>
  </div>
</div>

<% include footer %>
