[v-cloak] {
  display: none;
}

.container {
  max-width: 500px;
}

.btn {
  &.btn-100 {
    width: 100%;
  }
}

.ads {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cursor {
  cursor: pointer;
}

.card-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

#share {
  margin: 1rem 0;
  .share-img-group {
    line-height: 0;
    img {
      height: 50px;
      margin: 0 5px;
      line-height: 0;
    }
    i {
      font-size: 40px;
      margin: 0 5px;
      padding: 5px;
      vertical-align: top;
      border-radius: 3px;
    }
  }
}
